.space,
.event{
  padding: 6rem 0 6rem; 
}
.healing,
.books{
  padding-bottom: 6rem;
}
.banner-tit{
  background: rgba(0, 0, 0, 0.5) url(../image/main/bg_staryard_about_01.png) no-repeat center center/cover;   
}
.title{
  padding-top: 4rem;
}
.space{
  margin-top: 2rem;
}
.healing,
.event{
  color: #fff;
  background-color: var(--primary02);
}
.healing .title,
.books .title{
  width: calc(100% - 40px);
  max-width: 1400px;
}
.healing .title::before,
.healing .title::after,
.event .title::before,
.event .title::after{
  background: var(--secondary02);
}
.healing .title h2,
.event .title h2{
  color: var(--secondary02);
}
.event{
  padding-bottom: 8rem;
}
@media screen and (max-width: 1023px) {

}
@media screen and (max-width: 767px) {
  
}