/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&family=Roboto:wght@500;700&display=swap');

/* color */
$black: #222222;
$gray: #afafaf;
$bg: #f3f3f3;

/* width */
$col-3: calc((100% - 20px * 9) / 10 * 3 + 20px * 2);
$col-4-g: calc((100% - 20px * 9) / 10 * 4 + 20px * 3 + 20px);
$col-5: calc((100% - 20px * 9) / 10 * 5 + 20px * 4);
$col-5-g: calc((100% - 20px * 9) / 10 * 5 + 20px * 4 + 20px);

/* common */
.section-wrap {
  position: relative;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.text-wrap {
  position: absolute;
  left: 20px; top: 11.25rem;
  width: $col-3;
}
.tit {
  padding-bottom: 0.875rem;
  font-size: 4.875rem;
  font-weight: 700;
  line-height: 1.2;
}
.par {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.6;
  color: $gray;
  word-break: keep-all;
}
.btn-link {
  display: inline-block;
  gap: .5rem;
  margin-top: 2.125rem;
  padding: 1rem 1rem 1rem 0;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.375rem;

  &::after {
    content: "";
    display: inline-block;
    width: 1.375rem; height: 1.375rem;
    margin-left: .6rem;
    background: url(../image/icon/arrow-next.png) no-repeat center center/contain;
    vertical-align: middle;
  }
}
html, body {
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: $black;
}

/* style */
/* header */
header {
  position: fixed;
  left: 0; top: 0;
  width: 100%;
  padding-top: 60px;
  z-index: 100;

  .header-wrap {
    justify-content: flex-start;

    h1 {

      a {
        width: auto; height: 1.5rem;

        img {
          width: 100%; height: 100%;
          object-fit: contain;
        }
      }
    }
    nav {
      padding-left: calc((100% - 20px * 9) / 10 * 4 + 20px * 4 - 71px);

      .gnb {
        justify-content: flex-start;
        gap: 2.5rem;

        a {
          padding: 1.4375rem 0.625rem;
          font-size: 0.875rem;
          text-transform: uppercase;
          color: $gray;

          &:hover {
            color: $black;
          }
        }
      }
    }
    .btn-m {
      flex-direction: column;
      justify-content: center;
      gap: 0.625rem;
      position: absolute;
      right: 20px; bottom: 0;
      width: 3.75rem; height: 3.75rem;
      background: $black;
      cursor: pointer;

      span {
        display: block;
        width: 2.25rem; height: 2px;
        background: #fff;
      }
    }
  }
} /* header */

/* main */
main { 

  /* home */
  .home {

    .section-wrap {
      padding-top: 32vh;

      h2 {
        font-size: 3.5rem;
        font-weight: 700;
        line-height: 1.3;
        text-align: center;
      }
      .text-wrap {
        top: auto;
        bottom: 4.375rem;
  
        h3 {
          padding-bottom: 1.625rem;
          font-size: 2rem;
          font-weight: 700;
  
          span {
            font-weight: 500;
          }
        }
      }
    }
  } /* home */
  /* about */
  .about {
    background: $bg;

    .section-wrap {
      padding-top: 25vh;

      .number {
        padding-right: 20px;
        font-size: 55vh;
        font-weight: 700;
        letter-spacing: -.1em;
        text-align: right;

        &::before {
          content: "Total";
          font-size: 3.5rem;
          letter-spacing: normal;
        }
      }
      .service {
        gap: 20px;
        
        li {
          padding: 2rem 2rem 0;
          border-top: 2px solid $gray;
          color: $gray;
          box-sizing: border-box;

          p {
            padding-top: 1rem;
            font-size: 1.125rem;
            font-weight: 700;
            line-height: 1.2;
          }
        }
      }
    }
  } /* about */
  /* project */
  .project {
    
    .section-wrap {
      padding-top: 23vh;

      .detail {
        flex-direction: column;       
        align-items: flex-start;
        width: $col-5;
        height: 25vh;
        margin-left: $col-4-g;
        padding: 2.5rem;
        background: $black;
        box-sizing: border-box;
        color: #fff;
        
        h3 {
          font-size: 1.75rem;
          font-weight: 700;

          &::before {
            content: "";
            display: block;
            width: 100%; height: 2px;
            margin-bottom: 1.25rem;
            background: #fff;
          }
        }
        ul {
          justify-content: flex-start;
          gap: 3.5rem;

          li {
            font-size: 0.875rem;

            em {
              font-weight: 700;
              text-transform: uppercase;
            }
            p {
              padding-top: 0.625rem;
            }
          }
        }
      } /* detail */
      .portfolio {
        gap: 20px;
        padding: 8.5vh 0;
        overflow: visible;
        
        .swiper-wrapper {

          .swiper-slide {
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            height: 35vh;
            padding: 2rem;
            box-sizing: border-box;
            transition: all .5s;
  
            &::after {
              content: "";
              display: block;
              position: absolute;
              left: 0; top: 0;
              width: 100%; height: 100%;
              background-blend-mode: multiply;
              background: url(../image/project/project_01.jpg) no-repeat center center/cover, rgba(0, 0, 0, 0.3);
              opacity: 0;
              z-index: -1;
              transition: all .5s;
            }
            em {
              font-size: 0.875rem;
            }
            h3 {
              width: 100%;
              padding-top: 1rem;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.2;
              word-break: keep-all;
  
              &::after {
                content: "";
                display: block;
                width: 100%; height: 2px;
                margin-top: 1.25rem;
                background: $black;
                transition: all .5s;
              }
            }
            .btn-view {
              width: 100%;
              padding-top: 1.25rem;
              font-size: 0.875rem;
  
              &::after {
                content: "";
                display: block;
                width: 0.75rem; height: 100%;
                background: url(../image/icon/arrow_b.png) no-repeat center center/contain;
                transition: all .5s;
              }
            }
            &:hover {
              box-shadow: -1.25rem 1.25rem 2.5rem rgba($color: #000000, $alpha: .2);
              color: #fff;

              &::after {
                opacity: 1;
              }
              h3 {

                &::after {
                  background: #fff;
                }
              }
              .btn-view {

                &::after {
                  background: url(../image/icon/arrow_w.png) no-repeat center center/contain;
                }
              }
            }
          } /* swiper-slide */
          .swiper-slide-prev,
          .swiper-slide-next + .swiper-slide + .swiper-slide + .swiper-slide ~ .swiper-slide {
            opacity: 0;
            
            button {
              cursor: auto;
            }
          }
        } /* swiper-wrapper */       
        .swiper-button {
          width: 3.75rem; height: 3.75rem;
          border-radius: 50%;
          box-shadow: -.75rem .75rem 1.25rem rgba($color: #000000, $alpha: .2);

          &.swiper-button-prev {
            background: url(../image/icon/arrow_s_prev.png) no-repeat center center/contain;
            left: calc((100% - 20px * 9) / 10 + 10px);
            transform: translateX(-50%);
          }
          &.swiper-button-next {
            background: url(../image/icon/arrow_s_next.png) no-repeat center center/contain;
            right: calc((100% - 20px * 9) / 10 + 10px);
            transform: translateX(50%);
          }
          &.swiper-button-disabled {
            opacity: 0;
          }
          &::after {
            display: none;
          }
        } /* swiper-button */
        .swiper-pagination {
          display: flex;
          align-items: center;
          gap: 0.875rem;
          left: auto; bottom: auto;
          right: 0; top: 4vh;
          width: auto;
          transform-origin: top right;
          transform: rotate(90deg);
          font-size: 1.25rem;
          text-align: left;
          color: $gray;

          span {
            font-size: 1.75rem;

            &:first-child {
              color: $black;
            }
          }
          &::after {
            content: "";
            display: block;
            width: 6vh; height: 2px;
            margin-left: 13vh;
            background: $black;
          }
        } /* swiper-pagination */
      }
    }
  } /* project */
  /* contact */
  .contact {
    background: $bg;

    .section-wrap {
      padding-top: 40vh;

      .info-wrap {
        padding-left: $col-5-g;

        h3 {
          padding-bottom: 1.625rem;
          font-size: 2rem;
          font-weight: 700;
        }
        address {

          &::before {
            content: "";
            display: block;
            width: 100%; height: 2px;
            margin: 3rem 0 4.5rem;
            background: $black;
          }
          dl {
            display: grid;
            gap: 2rem 20px;
            grid-template-columns: repeat(5, 1fr);
            grid-template-areas: 
            "a a b b b"
            "c c d d d";

            div {
              
              &:first-child {
                grid-area: a;
              }
              &:nth-child(2) {
                grid-area: b;
              }
              &:nth-child(3) {
                grid-area: c;
              }
              &:nth-child(4) {
                grid-area: d;
              }
              dd {
                padding-top: 1rem;
                font-size: 1.125rem;
                font-weight: 700;
                line-height: 1.2;
                word-break: keep-all;
              }
            }
          }
        }
        .copy {
          padding-top: 4.5rem;
          font-size: 0.875rem;
          color: $gray;
        }
      }
    }
  } /* contact */
} /* main */

/* media */
@media screen and (max-width: 1440px) {

  section {
    width: 100%;
    overflow: hidden;
  }
  .text-wrap {
    top: 8.5vh;
  }

  /* header */
  header {
    padding-top: 0;
    background: #fff;
    box-shadow: 0 .2rem .4rem rgba($color: #000000, $alpha: .05);
    
    .header-wrap {

      .btn-m {
        right: 0;
      }
    }
  } /* header */

  /* main */
  main {

    /* home */
    .home {

      .section-wrap {
        padding-bottom: 32vh;
      }
    } /* home */
    /* about */
    .about {

      .section-wrap {
        padding-bottom: 8.5vh;
      }
    } /* about */
    .contact {

      .section-wrap {
        padding-top: 10.5vh;
        padding-bottom: 8.5vh;
      }
    }
  } /* main */
} /* 1440px */

@media screen and (max-width: 1200px) {

  html, body {
    font-size: 14px;
  }

} /* 1200px */

@media screen and (max-width: 1024px) {

  .tit {
    font-size: 4rem;
  }

  /* header */
  header {
    height: 3.75rem;

    .header-wrap {
      
      nav {
        display: none;
      }
    }
  } /* header */

  /* main */
  main {

    /* about */
    .about {

      .section-wrap {

        .number {
          font-size: 45vh;
        }
      }
    } /* about */
    /* project */
    .project {

      .section-wrap {
        padding-top: 10.5vh;

        .detail {
          flex-direction: row;
          height: auto;

          ul {
            flex-direction: column;
            gap: 2rem;

            li {

              p {
                display: none;
              }
            }
          }
        }
      }
    } /* project */
  } /* main */

} /* 1024px */

@media screen and (max-width: 760px) {

  .text-wrap {
    position: static;
    width: 100%;
  }

  /* main */
  main {

    /* home */
    .home {

      .section-wrap {
        padding-top: 16vh;
        padding-bottom: 8.5vh;

        .text-wrap {
          padding-top: 10vh;
        }
      }
    } /* home */

    /* about */
    .about {

      .section-wrap {
        padding-top: 8.5vh;

        .number {
          font-size: 16rem;
        }
        .service {
          flex-direction: column;

          li {
            width: 100%;
            
          }
        }
      }
    } /* about */

    /* project */
    .project {

      .section-wrap {
        padding-top: 8.5vh;
        
        .detail {
          width: 100%;
          margin: 5.5vh 0 0;
        }
        .portfolio {
          padding-top: 5.5vh;

          .swiper-wrapper {

            .swiper-slide {
              color: #fff;

              &::after {
                opacity: 1;
              }
              h3 {

                &::after {
                  background: #fff;
                }
              }
              .btn-view {

                &::after {
                  background: url(../image/icon/arrow_w.png) no-repeat center center/contain;
                }
              }
            }
          } /* swiper-wrapper */
          .swiper-button {

            &.swiper-button-prev {
              left: 10px;
            }
            &.swiper-button-next {
              right: 10px;
            }
          }
          .swiper-pagination {
            top: auto;
            bottom: 2.5vh;
            transform: rotate(0);

            &::after{
              display: none;
            }
          }
        }
      }
    } /* project */
    /* contact */
    .contact {

      .section-wrap {
        padding-top: 8.5vh;

        .info-wrap {
          padding-left: 0;

          address {

            &::before {
              margin-bottom: 3rem;
            }
            dl {
              gap: 2rem;
              grid-template-areas: 
              "a a a a a"
              "b b b b b"
              "d d d d d"
              "c c c c c";
            }
          }
        }
      }
    }

  } /* main */

} /* 760px */